<section class="todoapp">
  <header class="header">
    <h1>My Todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be completed!" autofocus="">
    </form>    
  </header>

  <section class="main">
    <ul class="todo-list">
      
    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Scott Ford", "https://github.com/scottAF/todoapp" %>
</section>
